body {
  font-size: 16px;
  font-family: Courier;
  background: url('images/bg.png');
  color: black;
  line-height: 135%;
}

a {
  color: #4d4b49;
}

a:hover {
  color: #999591;
}

#duck {
  width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.duck {
  color: #4d4b49;
  font-style: italic;
}

table, ul, li, tr, td {
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

step li {
  margin-left: 1em;
}

td {
  padding-right: 0.5em;
}

.eliminated {
  color: #994444;
  text-decoration: line-through;
}

.editingEliminates {
  cursor: pointer;
}

#menu {
  font-size: 14px;
  width: 200px;
  position: fixed;
  z-index: 1;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  border-radius: 12px;
  margin-bottom: 1em;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(192, 192, 192, 0.8);
}

#menu:hover {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #c0c0c0;
}

#menuContents {
  display: none;
}

#menu:hover #menuContents {
  display: block;
}

.selectedMenu {
  color: #4d4b49;
  font-weight: bold;
}

.notSelectedMenu {
  cursor: pointer;
}

#content {
  width: 600px;
  margin: auto;
}

input {
  width: 98%;
  font-size: 16px;
  font-family: Courier;
}

select {
  font-size: 16px;
  font-family: Courier;
}

div.step, div.outcome, div.test {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  border-radius: 12px;
  margin-bottom: 1em;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #c0c0c0;
}

div.outcome, div.test {
  margin-left: -0.5em;
  margin-right: -0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.buttons {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.button {
  border-radius: 12px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.2em;
  padding-bottom: 0.15em;
  background: #bbbbbb;
  cursor: pointer;
  color: #333333;
}

.alone {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.button:hover {
  background: #eeeeee;
}

.notchosen {
  background: #999999;
  cursor: default;
}

.notchosen:hover {
  background: #999999;
}

.chosen {
  background: #88dd88;
  color: #004400;
  cursor: default;
}

.chosen:hover {
  background: #88dd88; 
}

td.cause {
  width: 23em;
}

td.p {
}

td.test {
  width: 21em;
}

td.cost {
}