@charset "UTF-8";

@font-face {
  font-family: 'webfont';
  src: url('webfont.ttf');
  font-weight: normal;
  font-style: normal;
}

.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-cancel:before, .close:before { content: '\2715'; } /* '✕' */
.icon-plus-circle:before { content: '\2795'; } /* '➕' */
.icon-minus-circle:before { content: '\2796'; } /* '➖' */
.icon-picture:before { content: '\e060'; } /* '' */
.icon-pencil:before { content: '\e068'; } /* '' */
.icon-clipboard:before { content: '\e07f'; } /* '' */
.icon-up:before { content: '\e0ae'; } /* '' */
.icon-right:before { content: '\e0af'; } /* '' */
.icon-doc-new:before { content: '\e0bd'; } /* '' */
.icon-left:before { content: '\e0d4'; } /* '' */
.icon-down:before { content: '\e0d5'; } /* '' */
.icon-attach:before { content: ''; } /* '\1f4ce' */
.icon-link:before { content: ''; } /* '\1f517' */

body {
  font-size: 16px;
  font-family: Courier, 'webfont';
  background: url('images/bg.png');
  color: black;
  line-height: 135%;
}

pre {
  font-size: 11px;
}

a {
  color: #4d4b49;
}

a:hover {
  color: #999591;
}

#duck {
  width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.duck {
  color: #4d4b49;
  font-style: italic;
}

table, ul, li, tr, td {
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

step li {
  margin-left: 1em;
}

td {
  padding-right: 0.5em;
}

.eliminated {
  color: #994444;
  text-decoration: line-through;
}

.editingEliminates {
  cursor: pointer;
}

#menu {
  font-size: 14px;
  width: 200px;
  position: fixed;
  z-index: 1;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  border-radius: 12px;
  margin-bottom: 1em;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(192, 192, 192, 0.8);
}

#menu:hover {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #c0c0c0;
}

#menuContents {
  display: none;
}

#menu:hover #menuContents {
  display: block;
}

.selectedMenu {
  color: #4d4b49;
  font-weight: bold;
}

.notSelectedMenu {
  cursor: pointer;
}

#export, #import {
  position: fixed;
  border-radius: 12px;
  top: 30px;
  left: 300px;
  z-index: 2;
  padding: 0.5em;
  background: white;
}

#content {
  width: 600px;
  margin: auto;
}

input {
  width: 98%;
  font-size: 16px;
  font-family: Courier;
}

select {
  font-size: 16px;
  font-family: Courier;
}

div.step, div.outcome, div.test {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  border-radius: 12px;
  margin-bottom: 1em;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #c0c0c0;
}

div.step {
  background: url('images/bg_light.png');
}

div.outcome, div.test {
  margin-left: -0.5em;
  margin-right: -0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.buttons {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.button {
  border-radius: 12px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.2em;
  padding-bottom: 0.15em;
  background: #bbbbbb;
  cursor: pointer;
  color: #333333;
}

.icon {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.icon .text {
  display: none;
}

.icon:hover .text {
  display: inline;
  margin-left: 0.5em;
}

.close {
  cursor: pointer;
  padding-top: 2em;
}

#doImport {
  position: relative;
  top: -0.2em;
}

.alone {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.button:hover {
  background: #efeeed;
}

.notchosen {
  background: #999999;
  cursor: default;
}

.notchosen:hover {
  background: #999999;
}

.chosen {
  background: #88dd88;
  color: #004400;
  cursor: default;
}

.chosen:hover {
  background: #88dd88; 
}

td.cause {
  width: 23em;
}

td.p {
}

td.test {
  width: 21em;
}

td.cost {
}

#todo {
  float: right;
  margin-right: 10px;
  color: #bbbbbb;
  height: 20px;
  overflow: hidden;
}

#todo:hover {
  color: black;
  height: 400px;
}